* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, .main {
    width: 100%;
    height: 100%;
}

.main {
  overflow: hidden;
}

.menu-item {
    position: absolute;
    top: 0.5em;
    left: 1em;
    cursor: pointer;
}

.background {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  background-size:cover;
}

.background::after {
  content: "";
  background: url("background.jpg");
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
  background-size:cover;  
}

.signature-canvas {
    position: absolute;
    bottom: 0;
    right: 5em;
}

.filler-mask {
    position: absolute;
    bottom:0; right:0;
    height:361px;
    width:559px;
    z-index: 900;
}

.filler-img{
    position: absolute;
    bottom:0; right:0;
    height:361px;
    width:559px;
    z-index: 50;
}

.path {
  stroke-dasharray: 5000;
  stroke-dashoffset: 5000;
  animation: dash 3s cubic-bezier(.26,.02,.61,.97) forwards;
  animation-delay: 1s;
  -webkit-animation: dash 3s cubic-bezier(.26,.02,.61,.97) forwards;
  -webkit-animation-delay: 1s;
  -moz-animation: dash 3s cubic-bezier(.26,.02,.61,.97) forwards;
  -moz-animation-delay: 1s;  
  -ms-animation: dash 3s cubic-bezier(.26,.02,.61,.97) forwards;
  -ms-animation-delay: 1s;
  -o-animation: dash 3s cubic-bezier(.26,.02,.61,.97) forwards;
  -o-animation-delay: 1s;
}

@keyframes dash {
  to {
    stroke-dashoffset: 000;
  }
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 000;
  }
}

@-moz-keyframes dash {
  to {
    stroke-dashoffset: 000;
  }
}

@-ms-keyframes dash {
  to {
    stroke-dashoffset: 000;
  }
}

@-o-keyframes dash {
  to {
    stroke-dashoffset: 000;
  }
}

.gallery-canvas{
  position:relative;
  top: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 3em;
  overflow: auto;
  background-color: black;
  transition: top 0.5s cubic-bezier(.48,.02,.8,1.19);
  -webkit-transition: top 0.5s cubic-bezier(.48,.02,.8,1.19);
  -moz-transition: top 0.5s cubic-bezier(.48,.02,.8,1.19);
  -ms-transition: top 0.5s cubic-bezier(.48,.02,.8,1.19);
  -o-transition: top 0.5s cubic-bezier(.48,.02,.8,1.19);
  color: white;
  z-index: 1000;
}

/*body {
  background: -webkit-linear-gradient(orange, blue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(orange, blue);  For Opera 11.1 to 12.0 
  background: -moz-linear-gradient(orange, blue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(orange, blue); /* Standard syntax */
}*/